.card-image {
    max-height: 468px;
    max-width: 336px;
    border-radius: 5%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    background-image: repeating-linear-gradient(-55deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
}