<div class="about-page">
    <div class="part-1">
       <div><img id="logo" src="./assets/images/logo.jpg" style="max-height: 300px; padding-bottom: 50px"></div>
       <div>Card Tutor est un outil.</div>
       <div class="about-code">
          <p>Code et design par :</p>
          <p>Arthur Lagenèbre</p>
       </div>
    </div>
    <div class="part-2">
       <div>
          <div>Trademarks</div>
          Card Tutor n'est pas affilié avec, sponsorisé, ou spécifiquement approuvé par Wizards of the Coast LLC. Magic the Gathering® est une marque déposée de Wizards of the Coast.
       </div>
    </div>
 </div>