<a title="Back to homepage" href="/">
  <img src="https://styles.redditmedia.com/t5_2qn5f/styles/communityIcon_r3kyebh7xgmd1.jpg" height="75px" />
</a>
<form action="/search" accept-charset="UTF-8" method="get" class="header-search">
  <input type="text" name="q" id="header-search-field" placeholder="Search for Magic cards…" autocomplete="on"
    autocapitalize="none" autocorrect="off" spellcheck="false" maxlength="1024" class="header-search-field" />
  <button type="submit" class="vh">Find Cards</button>
</form>