.flex-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.flex-child {
    flex: 1;
    max-width: 500px;
}

.card-image {
    max-width: 500px;
}