<div class="card-text">
  <h1 class="card-text-title" lang="en">
    <span class="card-text-card-name">Acrobatic Cheerleader</span>
    <!-- <span class="card-text-mana-cost"><abbr class="card-symbol card-symbol-1" title="one generic mana">{1}</abbr><abbr class="card-symbol card-symbol-W" title="one white mana">{W}</abbr></span> -->
  </h1>
  <p class="card-text-type-line" lang="en">Creature — Human Survivor</p>
  <div class="card-text-box" lang="en">
    <div class="card-text-oracle">
      <p><i>Survival</i> — At the beginning of your second main phase, if Acrobatic Cheerleader is tapped, put a flying counter on it. This ability triggers only once.</p>
    </div>
    <div class="card-text-flavor">
      <p>“I used to cheat death every day in practice. This is nothing.”</p>
    </div>
  </div>
  <div class="card-text-stats">
    2/2
  </div>
  <p class="card-text-artist">Illustrated by Julia Metzger</p>
</div>