@if (card$ |async; as card) {
<div>
    <span>#{{GetCollectionNumber(card.Sets)}} · {{GetRarity(card.Sets)}} · {{language}}<br/></span>
</div>
<table>
    <thead>
        <tr>
            <th><span>Prints</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let set of card.Sets' [class.current]="set.Order === 1">
            <td>
                {{set.Name}}
            </td>
        </tr>
    </tbody>
</table>
<table *ngIf="card.RelatedCards.length > 0">
    <thead>
        <tr>
            <th><span>Faces, Tokens, &amp; Other Parts</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let relatedCard of card.RelatedCards">
          <td>
            {{relatedCard.Name}}
          </td>
        </tr>
    </tbody>
</table>
}