@if (card$ |async; as card) {
    <div class="set-text">
        <div class="text-element">
            <span>{{GetSetName(card.Sets)}}</span>
            <br />
            <span>#{{GetCollectionNumber(card.Sets)}} · {{GetRarity(card.Sets)}}</span>
        </div>
        <div class="text-element">
            <span class="title">Prints</span>
            <table>
                <tbody>
                    <tr *ngFor='let set of card.Sets' [class.current]="set.Order === selectedSet">
                        <td>
                            <span>{{set.Name}} #{{set.CollectorNumber}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-element" *ngIf="card.RelatedCards.length > 0">
            <span class="title">Faces, Tokens, &amp; Other Parts</span>
            <table>
                <tbody>
                    <tr *ngFor="let relatedCard of card.RelatedCards">
                      <td>
                        <span>{{relatedCard.Name}}</span>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}