<div>
    <span>{{card?.OracleId}}</span>
</div>
<div>
    <span>{{language}}</span>
</div>
<div>
    <span>#88 · Rare · English · Nonfoil<br/></span>
</div>
<table>
    <thead>
        <tr>
            <th>Prints</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="/card/td0/A35/all-hallows-eve">Magic Online Theme Decks</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/card/me3/57/all-hallows-eve">Masters Edition III</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/card/olep/42/all-hallows-eve">Oversized League Prizes</a>
            </td>
        </tr>
        <tr class="current">
            <td>
                <a href="/card/leg/88/all-hallows-eve">Legends</a>
            </td>
        </tr>
    </tbody>
</table>