.set-text {
    border: 2px solid rgb(166, 159, 157);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(21, 11, 0);
}

.current {
    background-color: rgba(203, 170, 245, 0.25);
}

.title {
    font-weight: bold;
}

.text-element {
    padding: 5px;
    border-bottom: 1px solid rgb(211, 32, 42);
}

.text-element:last-child {
    border-bottom: none;
}