.ruling-text {
    border: 2px solid rgb(166, 159, 157);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(21, 11, 0);
}

.title {
    font-weight: bold;
}

.text-element {
    padding: 5px;
}

.ruling-date {
    font-style: italic;
}

.border-bottom {
    border-bottom: 1px solid rgb(211, 32, 42);
}

.viewport-rulings {
    height: 500px;
    cursor: pointer;
}