@if (card$ | async; as card) {
    <div class="ruling-text" *ngIf="card.Rulings.length > 0">
        <div class="text-element">
            <span class="title">Rules information</span>
            <table>
                <tbody>
                    <tr *ngFor='let ruling of card.Rulings' class="border-bottom">
                        <td>
                            <span>{{ruling.Rule}}</span>
                            <br />
                            <span class="ruling-date">({{ruling.PublishedAt | date:'yyyy/MM/dd'}})</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}