<div class="flex-container">
    <div class="flex-child">
        <ct-image [card$]="currentCard$" [selectedSet]="selectedSet"></ct-image>
    </div>
    <div class="flex-child">
        <ct-text [card$]="currentCard$" [language]="currentLanguage" [selectedSet]="selectedSet"></ct-text>
    </div>
    <div class="flex-child">
        <ct-sets [card$]="currentCard$" [language]="currentLanguage" [selectedSet]="selectedSet" (updatedSetEvent)="UpdateSetId($event)"></ct-sets>
    </div>
    <div class="flex-child">
        <ct-rulings [card$]="currentCard$" [language]="currentLanguage"></ct-rulings>
    </div>
</div>