.card-text {
    border: 2px solid rgb(166, 159, 157);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(21, 11, 0);
}

.text-element {
    padding: 5px;
    border-bottom: 1px solid rgb(211, 32, 42);
}

.text-language {
    padding: 5px;
}

.card-name {
    font-weight: bold;
}

.flavor-text {
    font-style: italic;
}

.toggle-group-language {
    flex-wrap: wrap;
}

.toggle-language {
    border: 1px solid black;
}