@if (card$ | async; as card) {
<div>
  <div>
    <h1 lang="{{language}}">
      <span>{{GetValue(card.Names)}}</span>
      <!-- <span class="card-text-mana-cost"><abbr class="card-symbol card-symbol-1" title="one generic mana">{1}</abbr><abbr class="card-symbol card-symbol-W" title="one white mana">{W}</abbr></span> -->
    </h1>
  </div>
  <div>
    <p lang="{{language}}">{{GetValue(card.Typelines)}}</p>
  </div>
  <div>
    <div [innerHTML]="GetText(card.Texts)">
    </div>
  </div>
  <div *ngIf='card.Power'>
    <span>{{card.Power}}/{{card.Toughness}}</span>
  </div>
  <p>Illustrated by {{GetArtist(card.Sets)}}</p>
  <div>
    <span>Languages</span>
    <br />
    <span>{{card.Languages.join(", ")}}</span>
  </div>
</div>
}