@if (card$ | async; as card) {
  <div class="card-text">
    @if (card.CardFaces.length === 0) {
    <div>
      <div class="text-element">
        <span class="card-name">{{GetValue(card.Names)}}</span>
        <span [innerHTML]="GetManaCost(card.ManaCost)"></span>
      </div>
      <div class="text-element" *ngIf="GetFlavorName(card.Sets, 0) !== ''">
        <span class="flavor-text card-name">{{GetFlavorName(card.Sets, 0)}}</span>
      </div>
      <div class="text-element">
        <span>{{GetValue(card.Typelines)}}</span>
      </div>
      <div class="text-element" *ngIf="GetText(card.Texts, card.Typelines) !== ''">
        <span [innerHTML]="GetText(card.Texts, card.Typelines)"></span>
      </div>
      <div class="text-element" *ngIf="GetFlavorText(card.Sets, 0) !== ''">
        <span class="flavor-text">{{GetFlavorText(card.Sets, 0)}}</span>
      </div>
      <div class="text-element" *ngIf="card.Power && card.Toughness">
        <span>{{card.Power}}/{{card.Toughness}}</span>
      </div>
      <div class="text-element" *ngIf="card.Loyalty">
        <span><i class="ms ms-loyalty-start ms-loyalty-{{card.Loyalty}}"></i></span>
      </div>
      <div class="text-element" *ngIf="card.HandModifier && card.LifeModifier">
        Hand Size: {{card.HandModifier}}
        <br />
        Starting Life: {{card.LifeModifier}}
      </div>
      <div class="text-element">
        <span><i class="ms ms-artist-nib"></i> {{GetArtist(card.Sets, 0)}}</span>
      </div>
    </div>
    } @else {
      <div *ngFor="let cardFace of card.CardFaces; let index = index">
        <div class="text-element">
          <span class="card-name">{{GetValue(cardFace.Names)}}</span>
          <span [innerHTML]="GetManaCost(cardFace.ManaCost)"></span>
        </div>
        <div class="text-element" *ngIf="GetFlavorName(card.Sets, index) !== ''">
          <span>{{GetFlavorName(card.Sets, index)}}</span>
        </div>
        <div class="text-element">
          <span>{{GetValue(cardFace.Typelines)}}</span>
        </div>
        <div class="text-element" *ngIf="GetText(cardFace.Texts, cardFace.Typelines) !== ''">
          <span [innerHTML]="GetText(cardFace.Texts, cardFace.Typelines)"></span>
        </div>
        <div class="text-element" *ngIf="GetFlavorText(card.Sets, index) !== ''">
          <span class="flavor-text">{{GetFlavorText(card.Sets, index)}}</span>
        </div>
        <div class="text-element" *ngIf="cardFace.Power && cardFace.Toughness">
        <span>{{cardFace.Power}}/{{cardFace.Toughness}}</span>
        </div>
        <div class="text-element" *ngIf="cardFace.Loyalty">
          <span><i class="ms ms-loyalty-start ms-loyalty-{{card.Loyalty}}"></i></span>
        </div>
        <div class="text-element">
          <span><i class="ms ms-artist-nib"></i> {{GetArtist(card.Sets, index)}}</span>
        </div>
      </div>
    }
    <div class="text-language">
      <mat-button-toggle-group [(ngModel)]="language" name="languages" aria-label="Languages" hideSingleSelectionIndicator="true" value="{{this.language}}">
        <mat-button-toggle *ngFor="let language of card.Languages;" [value]="language">{{language}}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
}